body{   
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
strong{
    font-weight: 700;
}

ion-icon{
    width: 20px;
    height: 20px;
}

.topbar{
    width: 100vw;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.topbar-content{
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.vertical-border{
    height: 22px;
    width: 1px;
    background: #DBDBDB;
}

.search-bar{
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 214px;
    margin-right: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar p{    
    color: #979797;    
    font-size: 12px;
    line-height: 14px;
}

.page-content{
    width: 935px;
    display: flex;
    margin: 0 auto;
}

.main-content{    
    width: 614px;
    margin-right: 28px;
}
.stories-box{
    width: 614px;
    height: 118px;
    margin-top: 88px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;    
    margin-bottom: 24px;
    padding-left: 10px;
    position: relative;
}

.storie{
    width: 78px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.storie-img{
    position: absolute;
    bottom: 19px;
    left: 11px;
}

.storie-border img{
    width: 66x;
    height: 66px; 
    border-radius: 33px;   
}
.storie-img img{    
    width: 56x;
    height: 56px;   
    border-radius: 28px;
}

.storie-text{
    width: 78px;
    display: flex;
    justify-content: center;
    
}

.storie p{
    color: #262626;
    font-size: 12px;
    line-height: 14px;
    max-width: 78px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stories-box ion-icon{
    position: absolute;
    color: #FFFFFF;
    width: 28px;
    height: 28px;
    right: 8px;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7))
}

.side-bar{
    width: 293px;
    height: calc(100vh - 88px);
    margin-top: 88px;
}

.side-bar strong{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.side-bar small{
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.post{
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}

.post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;  
    margin-right: 2.5%;
}

.post-top img{
    width: 32px;
    height: 32px;
    margin-left: 17px;
    margin-right: 15px;
}

.post-top p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.post-profile{
    display: flex;    
    align-items: center;
}

.post-pic{
    width: 100%;
}
.post-icons{
    display: flex;
    justify-content: space-between;
    margin: 12px 8.75px 10px 17.75px;
}

.post-icons ion-icon{
    margin-right: 9px;
}

.likes{
    display: flex;
    align-items: center;
    margin-left: 17px;
    margin-bottom: 14px;
}

.likes img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.likes p{
    font-size: 14px;
    line-height: 16px;
}

.profile{
    margin-top: 23px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.profile p{
    color: #8E8E8E;
    font-size: 14px;
    line-height: 16px;
}

.profile strong{
    font-weight: 500;
    color: #262626;
}

.profile img{
    margin-right: 17px;
    width: 56px;
    height: 56px;
}

.suggestion-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.suggestion-top small{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.suggestion-top strong{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.suggestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.suggestion img{
    margin-right: 11px;
}

.suggested-page{
    display: flex;
    
}

.follow{
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;    
    line-height: 14px;
}

.info{
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
    margin-top: 18px;

}

@media (max-width: 935px) {
    .search-bar{
        margin: auto;        
    } 
    .topbar-content{
        width: auto;
        padding-left: 10px;    
        padding-right: 10px;       
    }

    .topbar-content ion-icon{
        min-width: 20px;
        min-height: 20px;
        margin-right: 11px;
    }

    .topbar-content .vertical-border{
        margin-right: 11px;
    }

    .side-bar {
      display: none;
    }
    .page-content{
        width: 614px;
    }
  }

  @media (max-width: 614px) {    

    .topbar-content {         
        padding-right: 15px;  
    }

    .post-top ion-icon{
        margin-right: 10px;
    }

    .mobile-hidden{
        display: none;
    }
    .vertical-border{
        display: none;
    }
    .search-bar{
        display: none;
    }

    .stories-box{
        width: 100vw;
        height: 121px;
        margin-top: 54px;
        margin-bottom: 0px;
        overflow: hidden;
        display: flex;
        align-items: center;         
        background: #E5E5E5;
        border: 0px;
    }

    .stories-box ion-icon{
        display: none;
    }
    
    .post{
        width: 100vw;
    }
    .post-pic img{
        width: 100%;
    }

  }